@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/*Navigation Styling */
header {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  font-family: "Montserrat", sans-serif;
  background-color: none;
}

.logo{
  color:#1E6BF1;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}

.nav-links{
  display:flex;
  color: #1E6BF1;
  justify-content: space-around;
  width: 35%;
}

.nav-links li{
  list-style: none;
}

.nav-links a{
  color: #1E6BF1;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.burger{
  display: none;
  cursor: pointer;
}

.burger div{
  width: 25px;
  height: 2px;
  background-color: #1E6BF1;
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1024px){
  .nav-links{
    width: 60%;
  }
}

@media screen and (max-width: 1024px){
  body{
    overflow-x: hidden;
  }
  .nav-links{
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li{
    color: #1E6BF1;
  }
  .burger{
    display: block;
  }
}

.nav-active{
  transform: translateX(0%);
}

@keyframes navLinksFade{
  from{
    opactiy: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1{
  transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2{
  opacity: 0;
}

.toggle .line3{
  transform:rotate(45deg) translate(-5px,-6px);
}
/*Navigation Styling*/


/*Main Content*/
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.presentation{
  display: flex;
  width: 90%;
  margin: auto;
  min-height: 75vh;
  align-items: center;
}

.cover{
  flex:1;
}

.intro-img img {
  height: 60%;
  display:flex;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.cover img{
  height: 60%;
  width: 60%;
  display:flex;
  margin-left: auto;
  margin-right: auto;
}

.mentee-content-img img{
  height: 40%;
  width: 50%;
  position: center;
  margin-bottom: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.mentor-content-img img{
  height: 50%;
  width: 50%;
  position: center;
  margin-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.introduction{
  flex: 1;
  padding-left: 5.4%;
}

.intro-text h1{
  font-size: 44px;
  font-weight: 500;
  color: #1E6BF1;
}

.info-section{
  padding: 50px 0px 0px 0px
}

.apply-select{
  border: none;
  font-weight: bold;
  border-radius: 25px;
  background: #1E6BF1;
  color: white;
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

.apply-select:hover{
  color: gray;
  border: 2px solid;
}

.apply-more-info{
  background: orange;
  border-radius: 25px;
  color: white;
  border: none;
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  margin: 20px 0px 0px 20px;
}


@keyframes drop {
	0% {
		opacity: 0;
		transform: translateY(-80px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}

@media screen and (max-width: 1024px) {
  body{
    overflow-x: hidden;
  }
  
	.presentation {
		flex-direction: column;
	}
	.introduction {
		margin-top: 5vh;
		text-align: left;
	}
	.intro-text h1 {
		font-size: 30px;
	}
	.intro-text p {
		font-size: 18px;
	}
	.cta {
		padding: 10px 0px 0px 0px;
	}

 .presentation-img{
    height: 80%;
    width: 100%;
    position: center;
    margin-bottom: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  

	 .cover img {
		height: 80%;
    width: 100%;
    position: center;
    margin-bottom: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
	}

  .mentee-content-img img{
    height: 80%;
    width: 100%;
    position: center;
    margin-bottom: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .mentor-content-img img{
    height: 80%;
    width: 100%;
    position: center;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .carousel {
		flex-direction: column;
    margin-top: 5vh;
	}
  .carousel h1{
    font-size: 22px;
  }
  
	.logo-slider {
    padding-top: 5%;
    width:100%;
    position: center;
	}
}
/*Main Content*/


/*Blockquote Content*/
blockquote{
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: center;
  padding: 25px;
  background: #f8fffe;
  border: 1px solid #b0d2cb;
  color: #1E6BF1;
  box-sizing: border-box;
}

.blockquote_text{
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-style: italic;
  font-size: 1.5rem;
  line-height: 1.5;
  margin: 0;
}

.blockquote_text:not(:last-child){
  margin-bottom: 1em;
}

.blockquote_bordered{
  border-left-width: 10px;
}

.blockquote_text_credit{
  font-weight: bold;
  font-style: normal;
  text-align: right;
}

.blockquote_text_credit::before{
  content: "\2014\0020";
}

.blockquote_quoted::before {
  content: "\201c";
  font-size: 100px;
  color: orange;
  display: block;
  margin-bottom: -40px;
  margin-top: -20px;
}

/*Blockquote Content*/





/*Carousel Content*/
.carousel{
  margin: 0 auto;
  max-width: 100%;
  /* max-width: 1040px; */
}

.logo-slider{
  display: flex;
  width: 80%;
  margin: auto;
  min-height: 30vh;
  align-items: center;
  padding-bottom: 0%;
}

.carousel h1{
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  color: #1E6BF1;
  text-align: center;
  position: relative;
  margin-bottom: 10px;
  margin-top: 10%;
}

.carousel h1:after{
  content: '';
  position: absolute;
  width: 100px;
  height: 2px;
  background-color:orange;
  bottom:-20px;
  left:0;
  right:0;
  margin:0 auto;
}

.logo-slider .single-logo{
  margin-top: 5%;
  background-color: none;
  padding: 10px;
}

.single-logo img{
  width: 60%;
}
/*Carousel Content*/


/*Row and Column Styling for Bullet List*/
.column {
  font-family: inherit;
  box-sizing: border-box;
  float: left;
  width: 33.33%;
  padding: 10px;
}

.column h2{
  color:#1E6BF1;
  font-weight: 500;
}
.row:after {
  content: "";
  font-family: inherit;
  box-sizing: border-box;
  display: table;
  clear: both;
}

@media screen and (max-width: 1024px) {
  .column {
    width: 100%;
  }
}
/*Row and Column Styling for Bullet List*/


/*Footer*/
.footer {
  margin:0;
  padding: 15px 0;
  box-sizing: border-box;
  font-family: "Montserrat",sans-serif;
  background-color: #1E6BF1;
  color: white;
  text-align: center;
}

.footer .socials{
  text-align: center;
  padding-bottom:25px;
  color: white;
}

.footer .socials a{
  font-size:25px;
  color:inherit;
  border: 1px solid;
  width: 40px;
  height:40px;
  line-height: 38px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 8px;
  opacity: 0.75;
}

.footer .socials a:hover{
  opacity: 0.9;
}

.footer ul{
  margin-top:0;
  padding:0;
  list-style:none;
  font-size:18px;
  line-height: 1.6;
  margin-bottom: 0;
  text-align: center;
}

.footer ul li a{
  text-align: center;
  color:inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer ul li{
  display: inline-block;
  padding: 0 15px;
}

.footer ul li a:hover{
  opacity:1;
}

.footer .copyright{
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:white;
}
/*Footer*/

/*Form*/
.container{
  width: 100%;
  height: 100vh;
  display: flex;
  background: none;
  align-items: center;
  justify-content: center;
}

.contact-form h3 { 
  color: orange;
  font-weight: 800;
  margin-bottom: 20px;
}

.contact-form {
  background: lightblue;
  display:flex;
  flex-direction: column;
  padding: 2vw 4vw;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
}

.contact-form label {
  font-family: inherit;
  font-size: 20px;
  display: inline-block;
  margin-bottom: 10px;
}


.contact-form input:focus {
  border-bottom: 2px solid orange;
}

.contact-form input, textarea {
  border: 0;
  margin: 10px 0;
  padding: 20px;
  outline: none;
  background: white;
  font-family: inherit;
  font-size:16px;
}

.contact-form textarea:focus {
  border-bottom: 2px solid orange;
}

.contact-form button {
  padding: 15px;
  font-size: 18px;
  background: orange;
  color: white;
  outline: none;
  cursor: pointer;
  border:0;
  width: 150px;
  margin: 20px auto 0;
  border-radius:30px;
  transition: 0.2s ease-in-out;
}

.contact-form button:hover {
  background-color: orange;
  border-bottom: 3px solid lightblue;
}

@media all and (min-width: 1000px) {
  .contact-form {
    width: 40%;
  }
}

@media all and (min-width: 1080px) {
  .contact-form{
    width: 30%;
  }
}

.bg-modal{
  width: 100%;
  height: 100%;
  position: absolute;
  margin-top: 5%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.modal-content{
  width: 80%;
  height: 100%;
  background-color: lightblue;
  border-radius: 6px;
}

.close{
  color: orange;
  position: absolute;
  top:0;
  margin-top: 10px;
  padding-left: 600px;
  font-family: inherit;
  font-size: 30px;
  cursor: pointer;
}

.contact-button{
  position: absolute;
  display: flex;
  cursor:pointer;
  align-items: center;
  justify-content: center;
}
  .contact-button:hover {
  background-color: white;
 }
/*Form*/