@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/* Navigation Bar Styling */
header {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    background-color: white;
}

li, a, button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #1E6BF1;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}

.logo{
    font-family: "Montserrat", sans-serif;
    color: #1E6BF1;
    font-size: 20px;
    font-weight: 500px;
    cursor: pointer;
    margin-right: auto;
}

.nav_link{
    list-style: none;
}

.nav_link li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_link li a{
    transition: all 0.3s ease 0s;
}

.nav_link li a:hover{
    transition: all 0.3s ease 0s;
    color: lightblue;
}

button{
    margin-left:20px;
    padding: 9px 25px;
    color: white;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgba(0,136,169,0.8);
}
/* Navigation Bar Styling */

/*CSS Grid Styling*/
:root {
    --main-radius: 5px;
    --main-padding: 5px;
  }
  
  body {
    font-family: "Montserrat", sans-serif;
  }
  
  .container {
    display: grid, center;
    height: 100px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
    grid-template-areas:
      "main main main"
      "main main main"
      "content1 content1 content1"
      "content2 content2 content2"
      "content3 content3 content3"  
      "footer footer footer";
    grid-gap: 0.2rem;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 12px;
    color: #004d40;
    text-align: center;
  }
  
  
  main {
    background: #84ffff;
    grid-area: main;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }
  
  #content1 {
    background: #6fffd2;
    grid-area: content1;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }
  
  #content2 {
    background: #64ffda;
    grid-area: content2;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }
  
  #content3 {
    background: #73ffba;
    grid-area: content3;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }
  
  footer {
    background: #1de9b6;
    grid-area: footer;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }
  
  a {
    text-align: center;
    display: block;
    font-family: inherit;
    text-decoration: none;
    font-weight: bold;
    margin: 1rem;
  }
  
  @media only screen and (max-width: 550px) {
    .container {
      grid-template-columns: 1fr;
      grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
      grid-template-areas:
        "main"
        "content1"
        "content2"
        "content3"
        "footer";
    }
  }
  /*CSS Grid Styling*/

/*Body Title Styling*/

/*Body Styling*/

/*Carousel Styling*/

/*Carousel Styling*/


/*Footer Styling*/

/*Footer Styling*/

