/* Navigation Bar Styling */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    background-color: white;
}

li, a, button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #1E6BF1;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}

.logo{
    color: #1E6BF1;
    font-size: 20px;
    font-weight: 500px;
    cursor: pointer;
    margin-right: auto;
}

.nav_link{
    list-style: none;
}

.nav_link li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_link li a{
    transition: all 0.3s ease 0s;
}

.nav_link li a:hover{
    transition: all 0.3s ease 0s;
    color: lightblue;
}

button{
    margin-left:20px;
    padding: 9px 25px;
    color: white;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgba(0,136,169,0.8);
}
/* Navigation Bar Styling */

/*Body Title Styling*/
h3, footer{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #1E6BF1;
    text-decoration: none;
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 10%;
}

p{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: #1E6BF1;
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white; 
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 10%;
}

aside{
    justify-content: center;
    align-items: center;
    display: flex;
    box-sizing: border-box;
    margin: 0;
    padding: 20px 10%;
}

form{
    justify-content: left;
    align-items: center;
    display:flex;
    box-sizing: border-box;
    margin:0;
    padding:20px 10%;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: #1E6BF1;
}
/*Body Styling*/

/*Carousel Styling*/

body{
    height: 80vh;
}

.slider_area h2{
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 60px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 100px 0px 30px 0;
    color: white;
}
.loading-area {
	display: grid;
	place-items: center;
	height: 100vh;
}
.loader div {
	height: 30px;
	width: 30px;
	border-radius: 50%;
	transform: scale(0);
	animation: animate 1.5s ease-in-out infinite;
	display: inline-block;
	margin: .5rem;
}
.loader div:nth-child(0) {
	animation-delay: 0s;
}
.loader div:nth-child(1) {
	animation-delay: 0.2s;
}
.loader div:nth-child(2) {
	animation-delay: 0.4s;
}
.loader div:nth-child(3) {
	animation-delay: 0.6s;
}
.loader div:nth-child(4) {
	animation-delay: 0.8s;
}
.loader div:nth-child(5) {
	animation-delay: 1s;
}
.loader div:nth-child(6) {
	animation-delay: 1.2s;
}
.loader div:nth-child(7) {
	animation-delay: 1.4s;
}
@keyframes animate {
	0%, 100% {
		transform: scale(0.2);
		background-color: #BD0036;
	}
	40% {
		transform: scale(1);
		background-color: #F25330;
	}
	50% {
		transform: scale(1);
		background-color: #F2B900;
	}
}
